<div class="container mt-4">
  <h1 class="text-center mb-4">Dynamic Form Builder</h1>

  <div class="mb-4 d-flex flex-wrap gap-3 justify-content-center">
    <button *ngFor="let field of fields" (click)="addField(field.type)" class="btn btn-primary">
      {{ field.label }}
    </button>
  </div>

  <form [formGroup]="dynamicForm" class="card p-4 shadow-sm">
    <div *ngFor="let field of formFields; let i = index" class="mb-4">
      <div class="mb-3">
        <label [for]="field.name" class="form-label">{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <input *ngSwitchCase="'text'" [type]="field.type" class="form-control"  [formControlName]="field.name" [placeholder]="field.placeholder" />
          <textarea *ngSwitchCase="'textarea'" class="form-control"  rows="3" [formControlName]="field.name" [placeholder]="field.placeholder"></textarea>
          <select *ngSwitchCase="'dropdown'" class="form-select" [formControlName]="field.name">
            <option value="" disabled selected>{{ field.placeholder }}</option>
            <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
          </select>
          <div *ngSwitchCase="'checkbox'" class="form-check">
            <input type="checkbox" class="form-check-input" [formControlName]="field.name"  [placeholder]="field.placeholder"/>
            <label class="form-check-label">{{ field.label }}</label>
          </div>
          <div *ngSwitchCase="'radio'">
            <div *ngFor="let option of field.options" class="form-check">
              <input type="radio" [placeholder]="field.placeholder" [name]="field.name" class="form-check-input" [value]="option" [formControlName]="field.name" />
              <label class="form-check-label">{{ option }}</label>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="dynamicForm.get(field.name)?.invalid && dynamicForm.get(field.name)?.touched" class="text-danger">
        <div *ngIf="dynamicForm.get(field.name)?.errors?.['required']">{{ field.label }} is required.</div>
      </div>
  
      <div class="text-end">
        <button type="button" class="btn btn-danger btn-sm" (click)="removeField(i)">Remove</button>
      </div>
    </div>
  
    <div class="d-flex justify-content-center mt-4"(click)="onSubmit()">
      <button type="submit" class="btn btn-success px-4">Submit Form</button>
    </div>
  </form>
</div>
