.btn-danger{
    width: 100px;
}

.form-label{
    width: 100px;
    color: black;
    font-weight: bolder;
}
.btn-success{
    width: 200px;
}

.border{
    border: 2px solid rgb(114, 112, 112);
    border-radius: 8px;
}